body {
    margin: 0;
    padding: 0;
    width: 100%;
    height 800px;
    /*   background-color: black; */
    background-image: url("http://wallpaperlayer.com/img/2015/1/blurred-wallpaper-background-7591-7884-hd-wallpapers.jpg");
    color: white;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    width: 70%;
    height: 25em;
    display: flex;
    
    opacity: 0.8;
}

.container img{
    width: 100%;    
    border-radius: 100px;
    background: lightblue;
}

.box {
    opacity: 6;
    width: 25%; 
    padding: 20px;
    margin: 2em;
    text-align: center;
    color: red;
    font-size: 1.5em;
    font-weight: bold;
}
